:root {
    --mainBackground: #0a0a0a;
    --mainText: #FFF;
    --secondaryText: #246FB5;
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body{
    background-color: var(--mainBackground);
    height: 100%;
}

.navbar {
    display: flex;
}

.nav-logo {
    color: white;
    width: 50%;
}

.nav-words {
    color: var(--mainText);
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.border-box {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: auto;
}

.white-border {
    background-color: #0a0a0a;
    width: 98%;
    height: 96%;
}

#intro-paragraph {
    position: absolute;
    left: 15%;
    top: 20%;
    font-size: 72px;
    font-weight: 700;
}

.intro {
    color: var(--mainText);
}

#name {
    color: var(--secondaryText)
}

#name-3d {
    position: absolute;
    left: 14.8%;
    top: 47.5%;
    font-size: 72px;
    font-weight: 700;
}

#interests-paragraph {
    color: white;
    font-size: 20px;
    width: 80%;
    font-weight: 100;
    margin-top: 3%;
}

.border-box-about {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: auto;
}

.white-border-about {
    background-color: #0a0a0a;
    width: 98%;
    height: 96%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-me-section {
    display: grid;
    grid-template-rows: 1fr 3fr;
    align-items: center;
    justify-content: center;
}

#about-me-title-backdrop {
    color: var(--secondaryText);
    font-size: 72px;
    font-weight: 700;
    position: absolute;
    left: 12em;
}

#about-me-title {
    color: white;
    font-size: 72px;
    font-weight: 700;
    position: absolute;
    left: 11.93em;
    top: 9.93em;
}


#about-me-content {
    color: white;
    left: 0;
}

